[submodule "thirdparty/doxygen-bootstrapped"]
	path = thirdparty/doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped.git
[submodule "thirdparty/args"]
	path = thirdparty/args
	url = https://github.com/Taywee/args.git
[submodule "thirdparty/sparsepp"]
	path = thirdparty/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
