# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
kleuren
kleuren-test

# Automake
Makefile
Makefile.in
.deps
.dirstamp

# Autoconf
config*
install-sh
depcomp
missing
ar-lib
compile
libtool
ltmain.sh
aclocal.m4
autom4te.cache
m4

# dbgfm
*.lm
*.sm
*.str
*.fai

# bwtdisk
thirdparty/bwtdisk/

# iqtree
thirdparty/iqtree-omp-1.5.5-Linux/
