[submodule "thirdparty/dbgfm"]
	path = thirdparty/dbgfm
	url = https://github.com/Colelyman/dbgfm.git
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "thirdparty/dsk"]
	path = thirdparty/dsk
	url = https://github.com/GATB/dsk.git
[submodule "test/thirdparty/mutatrix"]
	path = test/thirdparty/mutatrix
	url = https://github.com/ekg/mutatrix
[submodule "thirdparty/doxygen-bootstrapped"]
	path = thirdparty/doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped.git
