[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "thirdparty/dsk"]
	path = thirdparty/dsk
	url = git@github.com:GATB/dsk.git
[submodule "thirdparty/doxygen-bootstrapped"]
	path = thirdparty/doxygen-bootstrapped
	url = git@github.com:Velron/doxygen-bootstrapped.git
