# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
kleuren

# Automake
Makefile
Makefile.in
.deps
.dirstamp

# Autoconf
config*
install-sh
depcomp
missing
aclocal.m4
autom4te.cache
